@import "../../assets/styles/mixins.scss";

.heroSection {
  @include sectionWrapper;
  // height: 100vh;
  background-color: #00030a;
  background-image: url(/src/assets/background.png);
  background-repeat: no-repeat;
  background-position: top left;
  background-attachment: fixed;
  .container {
    position: relative;
    height: calc(100vh - 72px);
    display: flex;
    z-index: 10000;
    flex-direction: column;
    justify-content: space-between;
  }
  
}
@keyframes rotate360 {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
