@import "../../assets/styles/mixins.scss";
:root {
  --card-height: 40vw;
  --card-margin: 4vw;
  --card-top-offset: 1em;
  --numcards: 4;
  --outline-width: 0px;
}

.workSection {
  @include sectionWrapper;
  background-color: #fff;
  .marquee {
    display: flex;
    &__group {
      display: flex;
      align-items: center;
      gap: 20px;
      overflow: hidden;
      p {
        font-size: 100px;
        margin: 0;

        &:nth-child(odd) {
          color: #cbcbcb;
        }
        &:nth-child(even) {
          color: #010203;
        }
      }
    }
  }
  .subtitle {
    padding: 10px;
    border-bottom: 1px solid #a7a7a7;
    color: #a7a7a7;
    font-size: 17px;
  }

  // #cards {
  //   padding-bottom: calc(
  //     var(--numcards) * var(--card-top-offset)
  //   ); /* Make place at bottom, as items will slide to that position*/
  //   margin-bottom: var(
  //     --card-margin
  //   ); /* Don't include the --card-margin in padding, as that will affect the scroll-timeline*/
  // }
  // #cards{
  //   pos
  // }
  .card {
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 0.2em 1em rgba(0, 0, 0, 0.1), 0 1em 2em rgba(0, 0, 0, 0.1);
    position: sticky;
    // top: 10px;
    padding-top: calc(var(--index) * var(--card-top-offset));
  }

  // @supports (animation-timeline: works) {
  //   @scroll-timeline cards-element-scrolls-in-body {
  //     source: selector(body);
  //     scroll-offsets:
  //       /* Start when the start edge touches the top of the scrollport */ selector(
  //           #cards
  //         )
  //         start 1,
  //       /* End when the start edge touches the start of the scrollport */
  //         selector(#cards) start 0;
  //     start: selector(#cards) start 1; /* Start when the start edge touches the top of the scrollport */
  //     end: selector(#cards) start 0; /* End when the start edge touches the start of the scrollport */
  //     time-range: 4s;
  //   }

  //   .card {
  //     --index0: calc(var(--index) - 1); /* 0-based index */
  //     --reverse-index: calc(
  //       var(--numcards) - var(--index0)
  //     ); /* reverse index */
  //     --reverse-index0: calc(
  //       var(--reverse-index) - 1
  //     ); /* 0-based reverse index */
  //   }

  //   .card__content {
  //     transform-origin: 50% 0%;
  //     will-change: transform;

  //     --duration: calc(var(--reverse-index0) * 1s);
  //     --delay: calc(var(--index0) * 1s);

  //     animation: var(--duration) linear scale var(--delay) forwards;
  //     animation-timeline: cards-element-scrolls-in-body;
  //   }

  //   @keyframes scale {
  //     to {
  //       transform: scale(calc(1.1 - calc(0.1 * var(--reverse-index))));
  //     }
  //   }
  // }
}
