@import "../../assets/styles/mixins.scss";

.workSection {
  @include sectionWrapper;
  background-color: #fff;
  .marquee {
    display: flex;
    &__group {
      display: flex;
      align-items: center;
      gap: 20px;
      overflow: hidden;
      p {
        font-size: 100px;
        margin: 0;

        &:nth-child(odd) {
          color: #cbcbcb;
        }
        &:nth-child(even) {
          color: #010203;
        }
      }
    }
  }
  .subtitle {
    padding: 10px;
    border-bottom: 1px solid #a7a7a7;
    color: #a7a7a7;
    font-size: 17px;
  }
  
}
