@import "../../assets/styles/mixins.scss";
:root {
  --card-height: 40vw;
  --card-margin: 4vw;
  --card-top-offset: 1em;
  --numcards: 4;
  --outline-width: 0px;
}

.workSection {
  @include sectionWrapper;
  background-color: #fff;
  .marquee {
    display: flex;
    &__group {
      display: flex;
      align-items: center;
      gap: 20px;
      overflow: hidden;
      p {
        font-size: 100px;
        margin: 0;

        &:nth-child(odd) {
          color: #cbcbcb;
        }
        &:nth-child(even) {
          color: #010203;
        }
      }
    }
  }
  .subtitle {
    padding: 10px;
    border-bottom: 1px solid #a7a7a7;
    color: #a7a7a7;
    font-size: 17px;
  }
  .card {
    border-top: 1px solid rgba(0, 0, 0, 0.1);
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    background-color: #fff;
    border-radius: 10px;
    // box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 6px -1px, rgba(0, 0, 0, 0.06) 0px 2px 4px -1px;
    position: sticky;
    padding-top: calc(var(--index) * var(--card-top-offset));
    
  }
}
