@import '@/assets/styles/fonts.scss';


body{
  background-color: rgb(0 0 0/1);
  background-image: url('../src/assets/background.png');
  background-repeat: no-repeat;
  background-position: top left;
  background-attachment: fixed;
  color: #E2E8F0;
  font-family: 'inter-regular';
}
main{
  max-width: 2000px;
  margin: 0 auto;
  padding: 0 50px;
}