@font-face {
  font-family: "inter-ui-regular";
  src: url("@/assets/fonts/Inter-UI-Black.otf") format("opentype");
}

@font-face {
  font-family: "inter-italic-black";
  src: url("../fonts/Inter-UI-BlackItalic.otf") format("opentype");
}

@font-face {
  font-family: "inter-bold";
  src: url("../fonts/Inter-UI-Bold.otf") format("opentype");
}

@font-face {
  font-family: "inter-bold-italic";
  src: url("../fonts/Inter-UI-BoldItalic.otf") format("opentype");
}

@font-face {
  font-family: "inter-italic";
  src: url("../fonts/Inter-UI-Italic.otf") format("opentype");
}

@font-face {
  font-family: "inter-italic";
  src: url("../fonts/Inter-UI-Medium.otf") format("opentype");
}

@font-face {
  font-family: "inter-medium";
  src: url("../fonts/Inter-UI-Medium.otf") format("opentype");
}

@font-face {
  font-family: "inter-medium-italic";
  src: url("../fonts/Inter-UI-MediumItalic.otf") format("opentype");
}

@font-face {
  font-family: "inter-regular";
  src: url("../fonts/Inter-UI-Regular.otf") format("opentype");
}

